<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=recipeName%></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="mobile-container">
      <h3 class="title">The Recipe</h3>
      <div class="random-header">
        <img id="recipe-img" class="random-img" src=<%=recipePic%> />
         <h3 id="recipe-text" class="recipe-name"><%=recipeName%></h3>
      </div>

      <div class="recipe-body">
        <h3 class="title">Recipe Steps </h3>
        <p id="recipe-Steps"><%=recipeSteps%></p>
    </div>
  </body>
</html>
